<div class="mdl-grid">
	<div class="mdl-cell--3-col">
		<div style="width: 90%">
			<mdl-dropdown [options]="availableChannelCommandDropdownOptions"
						  [dropdownLabel]="'Channel Command'"
						  [(selectedOption)]="channelCommandDropdownOption">
			</mdl-dropdown>
		</div>
	</div>
	<div class="mdl-cell--3-col">
		<div style="width: 90%">
			<mdl-dropdown [options]="availableMIDIChannelDropdownOptions"
						  [dropdownLabel]="'MIDI Channel'"
						  [(selectedOption)]="midiChannelDropdownOption">
			</mdl-dropdown>
		</div>
	</div>
	<div class="mdl-cell--3-col">
		<div style="width: 90%">
			<mdl-textfield type="text" label="Data1" floating-label [(ngModel)]="channelMessage.data1"></mdl-textfield>
		</div>
	</div>
	<div class="mdl-cell--3-col">
		<div style="width: 90%">
			<mdl-textfield type="text" label="Data2" floating-label [(ngModel)]="channelMessage.data2"></mdl-textfield>
		</div>
	</div>
</div>