<div class="mdl-grid">
	<div class="mdl-cell--12-col">
		<!--<mdl-dropdown [options]="availableInputDevices" [dropdownLabel]="'Input Device'" [placeholder]="'Select...'"
					  [selectedOption]="selectedInputDevice" (select)="onInputDeviceSelected($event)"></mdl-dropdown>-->
	</div>
</div>
<div class="mdl-grid">
	<div class="mdl-cell--12-col">
		<!--<mdl-dropdown [id]="'outputDevice'" [options]="availableOutputDevices" [dropdownLabel]="'Output Device'" [placeholder]="'Select...'"
					  [selectedOption]="selectedOutputDevice" (select)="onOutputDeviceSelected($event)"></mdl-dropdown>-->
	</div>
</div>
<!--<div class="mdl-grid">
	<div class="mdl-cell--12-col">
		<h4>
			<button mdl-button mdl-button-type="mini-fab" mdl-shadow="4" mdl-colored="accent" mdl-ripple>
				<span class="zmdi zmdi-caret-up zmdi-hc-lg"></span>
			</button>&nbsp; <span style="vertical-align: middle;">Translations</span>
		</h4>
		<translation ngFor="let translation of transformation.translationMap.translations" 
					 [translation]="translation"></translation>
	</div>
</div>-->