<mdl-layout class="mdl-layout--no-drawer-button">
	<mdl-layout-header>
		<mdl-layout-header-row>
			<mdl-layout-title>MIDIator</mdl-layout-title>
			<mdl-layout-spacer></mdl-layout-spacer>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link">Link</a>
			</nav>
		</mdl-layout-header-row>
	</mdl-layout-header>
    <mdl-layout-content class="app-content">
        <form novalidate *ngIf="this.form != null" [formGroup]="form" (ngSubmit)="save(form.value, form.valid)">
            <profile [form]="form"></profile>
        </form>
    </mdl-layout-content>
</mdl-layout>
