<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anshul.Utilities" version="1.0.24.0" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NLog" version="4.4.6" targetFramework="net461" />
  <package id="NLog.Config" version="4.4.6" targetFramework="net461" />
  <package id="NLog.Schema" version="4.4.6" targetFramework="net461" />
  <package id="NUnit" version="3.5.0" targetFramework="net461" />
  <package id="OctoPack" version="3.4.6" targetFramework="net461" developmentDependency="true" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Refigure" version="1.0.13.0" targetFramework="net461" />
  <package id="XamlAnimatedGif" version="1.1.6" targetFramework="net461" />
</packages>