@import "../node_modules/angular2-mdl/src/scss-mdl/color-definitions";

$color-primary: $palette-deep-orange-500;
$color-primary-dark: $palette-light-blue-A400;
$color-accent: $palette-light-blue-A400;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

/* ==========  Custom Colors  ========== */

$custom-bright-grey: unquote("rgba(#{$palette-grey-200}, 0.50)");
$custom-medium-grey: unquote("rgba(#{$palette-grey-600}, 0.5)");
$custom-almost-black: unquote("rgba(#{$palette-grey-800}, 0.5)");
$custom-almost-black-full: unquote("rgba(#{$palette-grey-800}, 1.0)");
$custom-dark-blue: unquote("rgba(79, 78, 124, 0.51)");
$custom-dark-blue-full: unquote("rgba(79, 78, 124, 1.0)");
$custom-dark-black-translucent: unquote("rgba(35, 35, 35, 0.95)");
$custom-medium-red: unquote("rgba(#{$palette-red-600}, 1.0)");
$custom-bright-green: 0,229,65; //from kuler complement of deep-orange (primary)

/* ==========  Typography  ========== */

$text-color-primary: unquote("rgba(#{$color-white}, 0.9)");
$field-outline-color: unquote("rgba(#{$color-primary}, 0.5)");
$checkbox-off-color: $field-outline-color;

/* ==========  Text fields  ========== */

$input-text-label-color: unquote("rgba(#{$color-primary}, 1.0)");
$input-text-bottom-border-color: $field-outline-color;

/* ==========  Card  ========== */

$card-background-color: $custom-dark-black-translucent;
/*
	Possible card background colors:
		rgba(93, 78, 124, 0.73)
		#574e7c
		#4e4f7c
		#4f4e7c
		#5d4e7c
*/
$card-text-color: $text-color-primary;
//$card-image-placeholder-color: unquote("rgb(#{$color-accent})") !default;
$card-supporting-text-text-color: $text-color-primary;
$card-border-color: unquote("rgba(#{$text-color-primary}, 0.3)");
//$card-subtitle-color: unquote("rgba(#{$color-black}, 0.54)") !default;

/* ==========  Standard Buttons  ========== */

$button-primary-color: $custom-bright-grey;
$button-secondary-color: unquote("rgb(#{$color-white})");

/* ==========  Custom Classes  ========== */

$dropdown-bg-ul-li-color: $custom-almost-black-full;

@import "../node_modules/angular2-mdl/src/scss-mdl/material-design-lite";
@import "../src/assets/mdl-selectfield/mdl-selectfield-midiator.scss";




@keyframes blinkTranslationKeyframes {
    0% {
        background-color: transparent;
    }

    100% {
        /*background-color: rgba(#1F04B2, 0.7);*/
        background-color:rgba(#1432CC, 0.7);

        /*background: -webkit-lineer-gradient(right, #1432CC, transparent);*/ /* For Safari 5.1 to 6.0 */
        /*background: -o-radial-gradient(#1432CC 90%, transparent 10%); /* For Opera 11.1 to 12.0 */
        /*background: -moz-radial-gradient(#1432CC 90%, transparent 10%); /* For Firefox 3.6 to 15 */
        /*background: linear-gradient(to right, #1432CC, transparent);*/ 
    }
}

.blinkTranslation {
    animation-name: blinkTranslationKeyframes;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    //cubic-bezier(0.250, 0.460, 0.450, 0.940);
    //transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    /*border: solid unquote("rgba(#{$color-primary}, 0.8)");*/
}


@keyframes readingMIDIKeyframes {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.5);
        transform-origin: center;
        background-color: $custom-medium-red;
    }
}

.readingMIDI {
    animation-name: readingMIDIKeyframes;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.readMIDI {
    background-color: unquote("rgb(#{$color-accent})");
}

.readMIDI:hover {
    background-color: $custom-medium-red;
}

.dotted-container {
    padding: 5px;
}

.translation-separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, unquote("rgba(#{$color-primary}, 0.0)"), unquote("rgba(#{$color-accent}, 1.0)"), unquote("rgba(#{$color-primary}, 0.0)"));
}

.translation-spacer {
    margin-bottom: 25px;
    margin-top: 25px;
}

.transformation-separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, unquote("rgba(#{$color-primary}, 0.0)"), unquote("rgba(#{$custom-bright-green}, 1.0)"), unquote("rgba(#{$color-primary}, 0.0)"));
}

transformation .mdl-switch__ripple-container .mdl-ripple,
transformation .mdl-switch.is-checked .mdl-switch__thumb {
    background: unquote("rgb(#{$custom-bright-green})");
}

transformation .mdl-switch.is-checked .mdl-switch__track {
    background: unquote("rgba(#{$custom-bright-green}, 0.5)");
}

profile .mdl-button--fab,
profile .profile-hover:hover {
    background-color: unquote("rgb(#{$custom-bright-green})");
}

profile .mdl-button--fab.off {
    background-color: $button-primary-color;
}

profile .mdl-button--icon.off {
    color: $button-primary-color;
}

profile .mdl-button--icon,
transformation h2 span, profile h4 {
    color: unquote("rgb(#{$custom-bright-green})");
}

translation .mdl-switch__ripple-container .mdl-ripple,
translation .mdl-switch.is-checked .mdl-switch__thumb {
    background: unquote("rgb(#{$color-accent})");
}

translation .mdl-switch.is-checked .mdl-switch__track {
    background: unquote("rgba(#{$color-accent}, 0.7)");
}

translation .mdl-button--fab,
transformation .mdl-button--fab,
transformation .transformation-hover:hover {
    background-color: unquote("rgb(#{$color-accent})");
}

translation .mdl-button--icon,
.section-header .mdl-button--icon,
transformation h4, translation h2 span {
    color: unquote("rgb(#{$color-accent})");
}
