@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css";


#loader-container {
    background: rgb(15, 15, 15); /*-webkit-radial-gradient(black, #222222);*/ /* Safari 5.1 to 6.0 */
    text-align: center;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 100%;
}

body {
    background-color: #343333;
    background: url("http://i.imgur.com/CiSOith.jpg");
    background-position: center top;
    background-size: 100% auto;
    height: 100%;
}

.app-content {
    padding: 20px;
}

.profile-card {
    max-width: 80%;
}

.profile-card-body {
    padding-bottom: 20px;
}

.slim-loading-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.cell-content {
    width: 90%;
}

.cell-content-6-col {
    width: 95%;
}

.button-container {
    height: 24px;
    display: flex;
    flex-direction: row;
}

.button-container-title {
    height: 75%;
}

    .button-container > *, .button-container-title > * {
        align-self: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .button-container > button, .button-container-title > button {
        align-self: flex-end;
    }

    .button-container > mdl-switch, .button-container-title > mdl-switch {
        margin-left: 15px;
        margin-right: 25px;
        height: 32px;
    }



.cell-content-button {
    height: 100%;
}

.mdl-card__supporting-text {
    overflow: visible;
}

.mdl-card {
    overflow: visible;
}

.mdl-layout__content {
    overflow: visible;
}

.smaller-icon {
    font-size: smaller;
}

.full-width {
    width: 100%;
}
